version: '3.1'

services:

  # OPERA Webservices
  operaws:
    restart: unless-stopped
    build:
      context: ../operaws
      dockerfile: Dockerfile
    image: quanted/operaws
    container_name: operaws
    ports:
      - "3344:3344"
    environment:
      - HOSTNAME=docker
    volumes:
      - .:/src/operaws

